
.hero, .about-us, .events, .contact {
  padding: 25px;
  font-family: $font-a;
}

// HERO --------------------------

.hero {
  background: $background;
  padding: 50px 25px;

  p {
    max-width: 700px;
    color: #D12026;
    font-size: 1.375rem;
    line-height: 1.5;
  }
}

// ABOUT US -----------------------

.about-us {

  h2 {
    margin-top: 0;
  }

  img {
    display: none;
    width: 500px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.05);
    border: 1px solid rgba(146,151,149,0.19);
    margin-right: 25px;
  }

  p {
    width: 100%;
    // max-width: 500px;
  }
}

// EVENTS -------------------------

.events {
  background: $background;
  text-align: center;
}

.events-card-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0 0 0;
}

.event-card {
  max-width: 100%;
  background-color: white;
  padding: 15px;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.05);
  border: 1px solid rgba(146,151,149,0.19);
  margin-bottom: 25px;

  p {
    font-size: .875rem;
  }
}

.date {
  margin: 0;
  padding: 0;
}

.location {
  border-bottom: 1px solid $grey-border;
  p {
    margin: 10px 0;
  }
}

.event-title {
  margin: 20px 0 10px 0;
  height: 90px;

  .svg-container {
    height: 60px;
    float: left;
  }

  svg {
    height: 100%;
    fill: $color-blue;
    padding-right: 15px;
  }

  p {
    float: left;
  }
}

.event-details {
  p {
    margin: 0;
  }

  p {
    font-weight: bold;
  }

  ul {
    padding: 0 0 0 20px;
  }
  li {
    font-size: 0.875rem;
    padding: 5px 0;
    line-height: 1.5;
    letter-spacing: .5px;
  }
}

// CONTACT --------------------------

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-a {
  p:nth-of-type(2), p:nth-of-type(3) {
    margin: 0;
  }
}

.contact-b {
  padding: 20px;
  background: $background;
  margin-top: 25px;
;

  h3 {
    margin-top: 0;
  }
  p {
    margin: 10px 0;
  }
}



// ------- MEDIA QUERIES -------

// MIN-WIDTH 768px --------------

@media all and (min-width: 768px) {

  .hero, .about-us, .events, .contact {
    padding: 70px 50px;
  }

  // HERO
  .hero {
    padding: 150px 50px;
  }

  // EVENTS



  // .events {
  //   p {
  //     margin-bottom: 30px;
  //   }
  // }



  // CONTACT
  .contact-container {
    display: flex;
    flex-direction: row;
  }

  .contact-a, .contact-b {
    width: 45%;
  }

  .contact-b {
    margin-top: 0px;
  }
}

// MIN-WIDTH 960px --------------

@media all and (min-width: 920px) {

  // ABOUT US
  .about-us {

    .content-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    img {
      display: block;
    }

    p {
      width: 100%;
      max-width: 500px;
    }
  }


  // EVENTS

  .events-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .event-card {
    max-width: 30%;
  }

}
