@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 100%;
  font-family: "Open Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto; }

.skip-links {
  margin: 0;
  padding: 0;
  position: relative; }
  .skip-links li {
    list-style-type: none; }
  .skip-links a {
    background-color: #FAFAFA;
    display: block;
    color: #D12026;
    font-weight: bold;
    position: absolute;
    left: -600000px;
    padding: 0.5em; }
  .skip-links a:focus {
    left: 0; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 20px; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 20px 0; }

p {
  letter-spacing: 1px;
  font-size: 0.9375;
  line-height: 1.5;
  margin: 10px 0 20px 0; }

a {
  text-decoration: none;
  color: #D12026; }

img {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(146, 151, 149, 0.19); }

footer {
  background: #2b2b2b;
  color: #EFEFED;
  padding: 30px 50px;
  text-align: center; }
  footer p {
    margin: 0 0 20px 0; }
  footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-info p {
      margin: 5px 0 0 0; }
    footer .footer-info a {
      text-decoration: none;
      color: #EFEFED; }
    footer .footer-info a:hover {
      color: #26A6C9; }

@media all and (min-width: 768px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; } }

@media all and (min-width: 960px) {
  footer p {
    margin: 0; }
  footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-info a {
      padding: 0 15px; } }

header {
  border-bottom: 1px solid #E6E8EA; }

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo-container .a11y-logo {
    height: 60px;
    width: 60px;
    fill: #D12026; }

.a11y-logo {
  display: none; }

.menu-items {
  width: 100%; }
  .menu-items ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .menu-items li {
    display: block;
    width: 100%; }
  .menu-items a {
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #D12026;
    padding: 10px 15px;
    border-bottom: 1px solid #EFEFED; }
  .menu-items a:hover, .menu-items a:focus {
    background-color: white;
    color: #2b2b2b;
    text-decoration: underline; }
  .menu-items .mobile-menu-icon {
    padding: 20px 15px;
    color: #2b2b2b;
    font-weight: bold;
    letter-spacing: 1px;
    background: white;
    font-size: 1.1rem; }
    .menu-items .mobile-menu-icon span {
      font-family: "Montserrat", sans-serif;
      padding-left: 10px; }
  .menu-items .mobile-menu-icon:hover, .menu-items .mobile-menu-icon:focus {
    color: #D12026;
    text-decoration: none; }

@media all and (min-width: 768px) {
  header {
    padding: 0 50px; }
  .a11y-logo {
    display: block; }
  .menu-items {
    width: auto; }
    .menu-items ul {
      display: block;
      list-style-type: none;
      padding: 0 0 0 10px;
      margin: 0; }
    .menu-items li {
      display: inline-block;
      width: auto; }
    .menu-items a {
      width: auto;
      display: inline-block;
      color: #2b2b2b;
      font-weight: bold;
      letter-spacing: normal;
      background-color: transparent;
      padding: 10px 10px;
      border-bottom: none;
      font-size: 1.0625rem; }
    .menu-items a:hover, .menu-items a:focus {
      background-color: white;
      color: #D12026;
      text-decoration: underline; }
    .menu-items .mobile-menu-icon {
      display: none; }
  .logo-container {
    padding: 25px 0; } }

.hero, .about-us, .events, .contact {
  padding: 25px;
  font-family: "Open Sans", sans-serif; }

.hero {
  background: #FAFAFA;
  padding: 50px 25px; }
  .hero p {
    max-width: 700px;
    color: #D12026;
    font-size: 1.375rem;
    line-height: 1.5; }

.about-us h2 {
  margin-top: 0; }

.about-us img {
  display: none;
  width: 500px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(146, 151, 149, 0.19);
  margin-right: 25px; }

.about-us p {
  width: 100%; }

.events {
  background: #FAFAFA;
  text-align: center; }

.events-card-container {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0 0 0; }

.event-card {
  max-width: 100%;
  background-color: white;
  padding: 15px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(146, 151, 149, 0.19);
  margin-bottom: 25px; }
  .event-card p {
    font-size: .875rem; }

.date {
  margin: 0;
  padding: 0; }

.location {
  border-bottom: 1px solid #EAEBEB; }
  .location p {
    margin: 10px 0; }

.event-title {
  margin: 20px 0 10px 0;
  height: 90px; }
  .event-title .svg-container {
    height: 60px;
    float: left; }
  .event-title svg {
    height: 100%;
    fill: #26A6C9;
    padding-right: 15px; }
  .event-title p {
    float: left; }

.event-details p {
  margin: 0; }

.event-details p {
  font-weight: bold; }

.event-details ul {
  padding: 0 0 0 20px; }

.event-details li {
  font-size: 0.875rem;
  padding: 5px 0;
  line-height: 1.5;
  letter-spacing: .5px; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact-a p:nth-of-type(2), .contact-a p:nth-of-type(3) {
  margin: 0; }

.contact-b {
  padding: 20px;
  background: #FAFAFA;
  margin-top: 25px; }
  .contact-b h3 {
    margin-top: 0; }
  .contact-b p {
    margin: 10px 0; }

@media all and (min-width: 768px) {
  .hero, .about-us, .events, .contact {
    padding: 70px 50px; }
  .hero {
    padding: 150px 50px; }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .contact-a, .contact-b {
    width: 45%; }
  .contact-b {
    margin-top: 0px; } }

@media all and (min-width: 920px) {
  .about-us .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about-us img {
    display: block; }
  .about-us p {
    width: 100%;
    max-width: 500px; }
  .events-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .event-card {
    max-width: 30%; } }

.speakers-main {
  background: #FAFAFA;
  padding: 25px; }

.speaker-event {
  margin: 50px 0;
  background: white;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(146, 151, 149, 0.19); }
  .speaker-event h2 {
    text-align: center;
    margin: 30px 0 15px 0; }
  .speaker-event .talk-date {
    text-align: center;
    font-weight: 600;
    color: #D12026; }

.speaker-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.speaker {
  width: 100%;
  padding: 25px; }
  .speaker img {
    width: 100%;
    text-align: center; }

h3.speaker-name {
  font-size: 1.5rem;
  color: #D12026; }

@media all and (min-width: 768px) {
  .speakers-main {
    background: #FAFAFA;
    padding: 50px; }
  .speaker-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .speaker {
    width: 50%;
    margin: 25px; }
    .speaker img {
      width: 100%; }
  h3.speaker-name {
    font-size: 1.5rem;
    color: #D12026; } }

.resources-main {
  background: #FAFAFA;
  padding: 25px; }
  .resources-main h2 {
    color: #2b2b2b; }
  .resources-main p:first-of-type {
    width: 100%; }

.resource-container {
  border-top: 1px solid #898787;
  padding: 20px;
  background: white;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(146, 151, 149, 0.19); }
  .resource-container .sublist {
    margin-bottom: 5px;
    font-weight: 600; }
  .resource-container li {
    line-height: 1.75; }

@media all and (min-width: 768px) {
  .resources-main {
    padding: 50px; }
    .resources-main p:first-of-type {
      width: 75%; }
  .resource-container {
    padding: 50px 25px; } }

@media all and (min-width: 960px) {
  .resources-main p:first-of-type {
    width: 60%; } }

.code-main {
  background: #FAFAFA;
  padding: 25px; }
  .code-main h2 {
    color: #D12026;
    margin: 40px 0 10px 0; }
  .code-main .code-container {
    border-top: 1px solid #898787;
    padding: 20px;
    background: white;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(146, 151, 149, 0.19); }
  .code-main .subsection {
    padding-left: 20px; }
  .code-main h3 {
    color: #D12026;
    text-transform: uppercase;
    margin: 40px 0 10px 0; }
  .code-main p, .code-main li {
    line-height: 1.5; }
  .code-main .anon-form {
    width: 100%;
    height: 800px;
    margin: 20px 0; }

@media all and (min-width: 768px) {
  .code-main {
    padding: 50px; }
    .code-main .code-container {
      padding: 50px;
      margin-top: 50px; } }

.accessibility-main {
  background: #FAFAFA;
  padding: 25px; }
  .accessibility-main h2 {
    color: #D12026;
    margin: 40px 0 10px 0; }
  .accessibility-main .accessibility-container {
    border-top: 1px solid #898787;
    padding: 20px;
    background: white;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(146, 151, 149, 0.19); }
  .accessibility-main h3 {
    color: #D12026;
    text-transform: uppercase;
    margin: 40px 0 10px 0; }
  .accessibility-main p, .accessibility-main li {
    line-height: 1.5; }

@media all and (min-width: 768px) {
  .accessibility-main {
    padding: 50px; }
    .accessibility-main .accessibility-container {
      padding: 50px;
      margin-top: 50px; } }
