// ---------- GLOBALS ----------

html {
  font-size: 100%;
  font-family: $font-a;
}

.container {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
}

// SKIP LINKS ------------------

.skip-links {
  margin: 0;
  padding: 0;
  position: relative;

  li {
    list-style-type: none;
  }

  a {
    background-color: $background;
    display: block;
    color: $color-red;
    font-weight: bold;
    position: absolute;
    left: -600000px;
    padding: 0.5em;
  }

  a:focus {
	  left: 0;
  }
}

// .skip-links:focus {
//   a {
//     left: 0;
//   }
// }

h1 {
  font-family: $font-header;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-family: $font-header;
  font-weight: 700;
  margin: 20px 0;
}

p {
  letter-spacing: 1px;
  font-size: 0.9375;
  line-height: 1.5;
  margin: 10px 0 20px 0;
}

a {
  text-decoration: none;
  color: $color-red;
}

img {
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.05);
  border: 1px solid rgba(146,151,149,0.19);
}

// FOOTER --------------

footer {
  background: $color-black;
  color: $grey-light;
  padding: 30px 50px;
  text-align: center;

  p {
    margin: 0 0 20px 0;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 5px 0 0 0;
    }

    a {
      text-decoration: none;
      color: $grey-light;
      padding: 5px;
    }

    i {
      display: inline;
    }

    a:hover {
      background-color: white;
      color: $color-red;
    }

  }
}

// ------- MEDIA QUERIES -------

// MIN-WIDTH 768px --------------

@media all and (min-width: 768px) {
  footer {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

// MIN-WIDTH 960px --------------

@media all and (min-width: 960px) {
  footer {

    p {
      margin: 0;
    }

    .footer-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        // margin: 0;
      }

      a {
        padding: 0 15px;
      }
    }
  }
}

// MIN-WIDTH 1024px --------------

@media ($media-large) {

}

// MIN-WIDTH 1240px --------------

@media ($media-xlarge) {

}
