// --------- MIXINS ---------

// MEDIA QUERIES ----------
//container max-width: 1146px;
$media-small: new-breakpoint(min-width 768px 12);
$media-medium: new-breakpoint(min-width 960px 12);
$media-large: new-breakpoint(min-width 1024px 12);
$media-xlarge: new-breakpoint(min-width 1240px);


// COLORS -----------------

$color-red: #D12026;
$color-black: #2b2b2b;
$color-blue: #26A6C9;
$grey-light: #EFEFED;
$grey-border: #EAEBEB;
$grey-dark: #898787;
$background: #FAFAFA;

// FONTS ------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$font-a: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$font-header: 'Montserrat', sans-serif;
