// ---------- GLOBALS ----------


html {
  font-size: 100%;
  font-family: $font-a;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

h2 {

}

footer {
  background: #231F20;
  color: #EFEFED;
  padding: 20px 50px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      text-decoration: none;
      color: #EFEFED;
      padding-left: 15px;
    }

    a:hover {
      color: #26A6C9;
    }

  }
}
