// ---------- HEADER ----------

header {
  padding: 0 50px;
  border-bottom: 1px solid #E6E8EA;
}

#skip-link {
  position: absolute;
  top: 5px;
  height: 0px;
  width: 0px;
  overflow:hidden;

  &:focus {
    height: auto;
    width: auto;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;

  .a11y-logo {
    height: 60px;
    width: 60px;
    fill: #D12026;
  }
}

nav {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style-type: none;
    padding-right: 15px;
  }

  a {
    text-decoration: none;
    font-family: $font-a;
    font-weight: 600;
    color: #231F20;
    font-size: 1.0625rem;

    &:hover {
      text-decoration: underline;
      color: #D12026;
    }
  }
}
